# Ignorowanie plików pycache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorowanie środowisk wirtualnych
env/
venv/
ENV/
venv.bak/

# Ignorowanie plików IDE (np. VS Code, PyCharm)
.vscode/
.idea/

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db

# Ignorowanie plików testowych lub cache'u pytest
.pytest_cache/
*.coveragerc
nosetests.xml
coverage.xml
*.hypothesis/

# Ignorowanie pliku konfiguracji Pythona
*.log
 
